<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="multilevel.multilevelmarkitning">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.User_Show"></activity>
        <activity android:name=".Admin.Admin_Profile" />
        <activity android:name=".Admin.Admin_Panel" />
        <activity android:name=".Admin.Admin_Login" />
        <activity android:name=".Customer.Customer_Home_Page" />
        <activity android:name=".Customer.Purchase_Commision" />
        <activity
            android:name=".User.User_Show"
            android:label="@string/title_activity_user__show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Customer.Customer_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.Admin_Register" />
        <activity android:name=".User.User_Login" />
        <activity android:name=".User.User_Register" />
        <activity android:name=".User.Create_Customer" />
    </application>

</manifest>